

<!-- card -->

<div class="mt-5 d-flex justify-content-center align-items-center">
    <div class="card mb-3 w-75">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/images/login.png" class="rounded-start w-100 h-100" alt="..." >
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <form action="" class=" p-4 " [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
                    <h2 class="my-2 fw-bold text-center">Login</h2>
                    <div class="mb-3">
                        <label for="">username</label>
                        <input type="text" class="form-control" formControlName="username">
                    </div>
                    <div class="mb-3">
                        <label for="">password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="mb-3">
                        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-dark form-control">login</button>
                    </div>
                </form>
        
            </div>
          </div>
        </div>
      </div>
</div>
<!-- end card -->